.controls {
  display: flex;
  justify-content: center;

  &__button {
    margin: 0 1em;
    width: 155;
    max-width: 80px;
    height: auto;
    background: none;
    border: none;

    & img {
      // TODO: bæta classi á img til að nota það sem selector
      width: 100%;
      height: 100%;
    }
  }
}
