.mainvideodiv {
  display: table;
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 1em;
}

.mainvideo {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.--greyedout {
    /*height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    z-index:1;
    background-color: rgba(0,0,0,0.2);*/
    filter: opacity(50%);
    //filter: grayscale(50%);
}

.overlay__play {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  width: 10%;
  height: auto;
  z-index: 2;
  background-size: contain;
  background-color: rgba(0,0,0,0.2);
}

.--hidden {
  display: none;
}

.videoerror {
     text-align: center;
     font-size: 1.3em;
}
