.videobox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  color: #fff;
  max-width: 400px;
  max-height: 250px;

  &__img {
    height: 80%;
  }

  &__title {
    font-weight: bold;
    white-space: nowrap;
    margin-top: 0.5em;
  }
        
  &__time {
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: -2em;
    display: inline;
  }
}
