.videobox {
  display: flex;
  max-width: 400px;
  max-height: 250px;
  padding: 0.5em;
  color: #fff;
  text-decoration: none;
  flex-direction: column;
  justify-content: space-between;

  &__img {
    height: 80%;
  }

  &__title {
    margin-top: 0.5em;
    overflow: hidden;
    font-weight: bold;
    text-overflow: clip;
    white-space: nowrap;
  }

  &__time {
    padding-right: 0.2em;
    padding-left: 0.2em;
    margin-top: -2em;
    margin-right: 0.5em;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.6);
    align-self: flex-end;
  }
  
  @media only screen and (max-width: 500px) {
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 1em;

    &__img {
      max-width: 100%;
    }

    &__title {
      padding-bottom: 1.5em;
    }

    &__age {
      padding-bottom: 1em;
    }
  }
}

