.videocat {
  display: flex;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #eee;
  flex-wrap: wrap;
  justify-content: flex-start;

  &__title {
    display: block;
    padding: 0.5em 0;
    font-size: 2em;
    color: #fff;
  }

  @media (max-width: 500px) {
    margin-bottom: 1em;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.categoryerror {
  padding-top: 2em;
  font-family: "open sans", sans-serif;
  font-size: 1.2em;
  text-align: center;
}
