.videobox {
  display: flex;
  max-width: 400px;
  max-height: 250px;
  padding: 0.5em;
  color: #fff;
  text-decoration: none;
  flex-direction: column;
  justify-content: space-between;

  &__img {
    height: 80%;
  }

  &__title {
    margin-top: 0.5em;
    overflow: hidden;
    font-weight: bold;
    text-overflow: clip;
    white-space: nowrap;
  }

  &__time {
    padding-right: 0.2em;
    padding-left: 0.2em;
    margin-top: -2em;
    margin-right: 0.5em;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.6);
    align-self: flex-end;
  }
}

@media (max-width: 500px) {
  .videobox {
    display: flex;
    padding: 0.5em;
    color: #fff;
    text-decoration: none;
    flex-direction: column;

    &__img {
      width: 80vw;
      object-fit: scale-down;
    }

    &__title {
      padding-bottom: 2vh;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      overflow: hidden;
      font-weight: bold;
      text-overflow: clip;
      white-space: nowrap;
    }

    &__time {
      padding-right: 0.2em;
      padding-left: 0.2em;
      margin-top: -2em;
      margin-right: 3vw;
      text-align: right;
      background-color: rgba(0, 0, 0, 0.6);
      align-self: flex-end;
    }

    &__age {
      height: 100%;
      padding-bottom: 2vh;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-weight: bold;
      white-space: nowrap;
    }
  }
}
